body {
    background-color: #4CC9F0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.text {
    width: 50%;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.work {
    color: black;
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.work a {
    color:aquamarine;
    text-decoration: underline;
}

.port{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    margin: 25px;
}

.img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}