body {
    background-color: #4CC9F0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.text {
    width: 50%;
    color: #3A0CA3;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.work {
    color: #3f37c9;
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.work a {
    color:aquamarine;
    text-decoration: underline;
}